.App {
  background-color: #f0f3f5;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.video-player .video {
  background-color: white;
}

.video-player {
  display: flex;
  flex-direction: column;
}

.video-control {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;
  background-color: #282c2e;
  color: #f0f3f5;
  justify-content: space-between;
}

.left-control, .right-control {
  display: flex;
  align-items: center;
}

.control {
  cursor: pointer;
  margin-left: 10px;
}

.control:first-child {
  margin-left: 0;
}

.time-control {
  font-size: 14px;
  margin-left: 15px;
}

.video {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.caption-content {
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
  padding: 8px 20px 8px 10px;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.caption-text {
  margin-left: 10px;
  text-align: left;
  flex: 1;
  color: #D6B600;
}

.caption-pos {
  cursor: move;
}

.control.active {
  color: #2a638b;
}

.time-bar {
  position: relative;
  cursor: pointer;
  background-color: #4f595d;
}

.time-bar-inner {
  position: relative;
  height: 10px;
  background-color: #8e3e63;
  width: 50%;
  transition: width 0.3s linear;
}

.time-bar-inner:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #cb598d;
  border-radius: 2px;
  right: -10px;
}

.thumbnail {
  position: absolute;
  top: -115px;
  width: 160px;
  height: 105px;
  display: flex;
  flex-direction: column;
}

.thumbnail .image {
  flex: 1;
  background-color: white;
  height: 90px;
}

.thumbnail .time {
  font-size: 12px;
  background-color: rgba(79, 89, 93, 0.4);
}
